# Master Data

In [2]:
import pandas as pd
import os
from pathlib import Path

MASTER_DATA_DIR = "data/master_data"

# Brand Kategori

In [9]:
raw_stock_df = pd.read_csv("health_monitor/20251211.csv")
display(raw_stock_df.head())

# get unique brand kategori
unique_brand_kategori = raw_stock_df["Kategori Brand"].unique()
display(unique_brand_kategori)

/var/folders/8t/7219xcjd2dj829bf02_x9zy80000gn/T/ipykernel_23412/618562332.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_stock_df = pd.read_csv("health_monitor/20251211.csv")

,brand,Kategori Brand,sku,Nama,store,stock,Daily Sales,Max. Daily Sales,Lead Time,Max. Lead Time,...,Nama Supplier,ID Brand,Nama Brand,ID Store,Nama Store,Hari Order,Min. Purchase,Trading Term,Promo Factor,Delay Factor
0,ACNAWAY,BRAND VIRAL,10100824612,ACNAWAY Mugwort Acne Clear Bar Soap 100gr,Miss Glam Palembang,11,0.01,0.00,4,24,...,PT. BERSAMA DISTRIVERSA INDONESIA (DC CIPUTAT),1480,ACNAWAY,20,Miss Glam Palembang,2,500000,0,NaN,NaN
1,ACNAWAY,BRAND VIRAL,10400517459,ACNAWAY Mugwort Daily Sunscreen Only For Acne ...,Miss Glam Palembang,5,0.02,0.00,4,24,...,PT. BERSAMA DISTRIVERSA INDONESIA (DC CIPUTAT),1480,ACNAWAY,20,Miss Glam Palembang,2,500000,0,NaN,NaN
2,ACNAWAY,BRAND VIRAL,101001107647,ACNAWAY Mugwort Gel Facial Wash Mugwort + Cent...,Miss Glam Palembang,6,0.15,1.04,4,24,...,PT. BERSAMA DISTRIVERSA INDONESIA (DC CIPUTAT),1480,ACNAWAY,20,Miss Glam Palembang,2,500000,0,NaN,NaN
3,ACNAWAY,BRAND VIRAL,10300721756,ACNAWAY Mugwort Water Gel Moisturizer with Mug...,Miss Glam Palembang,7,0.22,1.30,4,24,...,PT. BERSAMA DISTRIVERSA INDONESIA (DC CIPUTAT),1480,ACNAWAY,20,Miss Glam Palembang,2,500000,0,NaN,NaN
4,ACNES,BEAUTY MATURE,8992821102372,ACNES Complete White Face Wash 100gr,Miss Glam Palembang,11,0.22,1.04,3,7,...,PT. MENSA BINASUKSES - PPN (PLB),33,ACNES,20,Miss Glam Palembang,3,500000,0,NaN,NaN

array(['BRAND VIRAL', 'BEAUTY MATURE', 'ACCESSORIES', 'BEAUTY TRENDING',
       nan, 'MEN', 'SWALAYAN BEAUTY', 'SWALAYAN UMUM', 'DELISTING',
       'GRACE AND GLOW', 'GA', 'KMART IMPOR', 'KMART LOKAL', 'FASHION',
       'LUXURY'], dtype=object)

In [ ]:
# read 'data/supplier.csv'
supplier_df = pd.read_csv('data/supplier.csv', sep=';')
display(supplier_df)

,No,ID Supplier,Nama Supplier,ID Brand,Nama Brand,ID Store,Nama Store,Hari Order,Min. Purchase,Trading Term,Promo Factor,Delay Factor
0,1,NaN,NaN,1756,BLOOD,37,PT Bersama Distriversa Indonesia,1,500000,0,NaN,NaN
1,2,NaN,NaN,875,JF THE SKIN SPECIALIST,32,Miss Glam Pasaman Barat,1,500000,0,NaN,NaN
2,3,NaN,NaN,875,JF THE SKIN SPECIALIST,34,Miss Glam Duri,1,500000,0,NaN,NaN
3,4,NaN,NaN,875,JF THE SKIN SPECIALIST,38,Miss Glam P. Sidimpuan,1,500000,0,NaN,NaN
4,5,NaN,NaN,875,JF THE SKIN SPECIALIST,39,Miss Glam Aceh,1,500000,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
13586,13587,3433.0,UD. WIRA JAYA SUKSES - NON PPN - SILKORO/SUMME...,357,SILKORO,40,Miss Glam Marpoyan,4,500000,0,NaN,NaN
13587,13588,3433.0,UD. WIRA JAYA SUKSES - NON PPN - SILKORO/SUMME...,357,SILKORO,41,Miss Glam Sei Penuh,4,500000,0,NaN,NaN
13588,13589,3433.0,UD. WIRA JAYA SUKSES - NON PPN - SILKORO/SUMME...,357,SILKORO,42,Miss Glam Mayang,4,500000,0,NaN,NaN
13589,13590,3421.0,VIOPAD (ONLINE),2288,VIOPAD,37,PT Bersama Distriversa Indonesia,1,500000,0,NaN,NaN
13590,13591,3428.0,YOONA(ONLINE),1600,YOONA,37,PT Bersama Distriversa Indonesia,2,500000,0,NaN,NaN

In [21]:
# create master data directory if not exists
os.makedirs(MASTER_DATA_DIR, exist_ok=True)

# generate unique store data: id (get from 'ID Store'), name
store_df = pd.DataFrame(supplier_df['ID Store'].unique(), columns=['id'])
store_df['name'] = store_df['id'].map(supplier_df.set_index('ID Store')['Nama Store'].to_dict())

store_df.sort_values(by='id', inplace=True)

store_df

# save to csv
store_df.to_csv(MASTER_DATA_DIR + '/store.csv', index=False)

# Generate master supplier data

In [29]:
# Get unique suppliers
master_supplier_df = pd.DataFrame(supplier_df['ID Supplier'].dropna().unique(), columns=['id'])
master_supplier_df['name'] = master_supplier_df['id'].map(
    supplier_df.drop_duplicates('ID Supplier').set_index('ID Supplier')['Nama Supplier'].to_dict()
)

# column 'id' as int
master_supplier_df['id'] = master_supplier_df['id'].astype(int)

display(master_supplier_df)

# save to master data directory
master_supplier_df.to_csv(MASTER_DATA_DIR + '/supplier.csv', index=False)

       id                                               name
0    3180                          ANUGERAH NIAGA JAYA (DMI)
1    3694             ANUGERAH PHARMINDO LESTARI - PPN (BPP)
2    3343             ANUGERAH PHARMINDO LESTARI - PPN (PKU)
3    3604              APOTEK MEDIZONE - NON PPN - CASH (DC)
4    2482                 ASIA WIJAYA MAKMUR - NON PPN (MDN)
..    ...                                                ...
486  2407                       UD. NURIN MAKMUR - PPN (BKL)
487  2706                       UD. SINAR MUTIARA BARU (PYK)
488  3433  UD. WIRA JAYA SUKSES - NON PPN - SILKORO/SUMME...
489  3421                                    VIOPAD (ONLINE)
490  3428                                      YOONA(ONLINE)

[491 rows x 2 columns]

# generate master brand data

In [30]:
# Get unique brand
master_brand_df = pd.DataFrame(supplier_df['ID Brand'].dropna().unique(), columns=['id'])
master_brand_df['name'] = master_brand_df['id'].map(
    supplier_df.drop_duplicates('ID Brand').set_index('ID Brand')['Nama Brand'].to_dict()
)

# column 'id' as int
master_brand_df['id'] = master_brand_df['id'].astype(int)

display(master_brand_df)

# save to master data directory
master_brand_df.to_csv(MASTER_DATA_DIR + '/brand.csv', index=False)

       id                    name
0    1756                   BLOOD
1     875  JF THE SKIN SPECIALIST
2    2247                JUDYDOLL
3     384                     MBK
4     111            MUSTIKA RATU
..    ...                     ...
500   716                BEAUTICA
501  1779                 MONTISS
502  1734               SKIN SANE
503   149                   SR 12
504  1343                 TALK ME

[505 rows x 2 columns]

# Generate master products data

In [7]:
# read product_brand_store_supplier_mappings.csv
# get unique sku in a new datafram
import os

raw_product_mapping_df = pd.read_csv(MASTER_DATA_DIR + "/product_brand_store_supplier_mappings.csv", sep=";")

HEALTH_MONITOR_DIR = Path('/Users/andresuchitra/dev/missglam/autopo/notebook/health_monitor')

unique_df = raw_product_mapping_df.drop_duplicates(subset=['sku']).copy()[['brand_id', 'brand_name', 'sku', 'nama_product', 'hpp']]

# Convert sku to string for consistent matching
unique_df['sku'] = unique_df['sku'].astype(str)

display(unique_df)

# hpp still 0, we read all csv files from health_monitor folder to read
for file_path in HEALTH_MONITOR_DIR.glob('*.csv'):
    print('\nreading...', file_path)
    df = pd.read_csv(file_path)
    
    # Convert sku to string for consistent matching
    df['sku'] = df['sku'].astype(str)

    # get hpp from df to unique_df by using sku as key, only check unique_df whose hpp is empty/null/NaN
    for index, row in unique_df.iterrows():
        if pd.isna(unique_df.at[index, 'hpp']):
            matching_hpp = df.loc[df['sku'] == row['sku'], 'hpp'].dropna()
            if not matching_hpp.empty:
                unique_df.at[index, 'hpp'] = matching_hpp.iloc[0]

# replace any remaining NaN hpp with 0 for easier downstream handling
unique_df.loc[:, 'hpp'] = unique_df['hpp'].fillna(0)

display("unique SKU with HPP", unique_df)

display("SKU with HPP > 0", unique_df[unique_df['hpp'] > 0])

,brand_id,brand_name,sku,nama_product,store_id,store_name,supplier_id,supplier_name,hpp
0,68.0,EVERWHITE,28727,EVERWHITE Hicoll 120gr,7.0,Miss Glam Padang,54.0,PT. MIRANTI ADILLHA - PPN (PDG),NaN
1,68.0,EVERWHITE,30300100023,EVERWHITE Everfit Herboost,7.0,Miss Glam Padang,54.0,PT. MIRANTI ADILLHA - PPN (PDG),NaN
2,68.0,EVERWHITE,50400210010,EVERWHITE Mgxlile Hampers Everwhite,7.0,Miss Glam Padang,54.0,PT. MIRANTI ADILLHA - PPN (PDG),NaN
3,68.0,EVERWHITE,50400210045,EVERWHIT Eiffel Hampers Everwhite,7.0,Miss Glam Padang,54.0,PT. MIRANTI ADILLHA - PPN (PDG),NaN
4,68.0,EVERWHITE,50400210046,EVERWHITE Paris Hampers Everwhite,7.0,Miss Glam Padang,54.0,PT. MIRANTI ADILLHA - PPN (PDG),NaN
...,...,...,...,...,...,...,...,...,...
703628,1760.0,COLGATE,8850006341162,COLGATE Total 12 Advance Fresh Gel Toothpaste ...,7.0,Miss Glam Padang,2879.0,PT. TIGA RAKSA (PDG),NaN
703629,1760.0,COLGATE,9556031203060,COLGATE Slim Soft Charcoal Sikat Gigi Isi 3,7.0,Miss Glam Padang,2879.0,PT. TIGA RAKSA (PDG),NaN
703630,1760.0,COLGATE,9556031312434,COLGATE Super Flexi Charcoal Soft Sikat Gigi B...,7.0,Miss Glam Padang,2879.0,PT. TIGA RAKSA (PDG),NaN
704118,360.0,SILCOT,8993189329333,SILCOT Maximizer Cotton Kapas Isi 40,7.0,Miss Glam Padang,3301.0,PT. RIMBUN PADI BERJAYA - PPN (PDG),NaN
704119,360.0,SILCOT,8993189700804,SILCOT Cleansing Cotton Ungu isi 82 Pcs,7.0,Miss Glam Padang,3301.0,PT. RIMBUN PADI BERJAYA - PPN (PDG),NaN

reading... /Users/andresuchitra/dev/missglam/autopo/notebook/health_monitor/20251129_1.csv

reading... /Users/andresuchitra/dev/missglam/autopo/notebook/health_monitor/20251130.csv

reading... /Users/andresuchitra/dev/missglam/autopo/notebook/health_monitor/20251128_old.csv

'unique SKU with HPP'

,brand_id,brand_name,sku,nama_product,store_id,store_name,supplier_id,supplier_name,hpp
0,68.0,EVERWHITE,28727,EVERWHITE Hicoll 120gr,7.0,Miss Glam Padang,54.0,PT. MIRANTI ADILLHA - PPN (PDG),0.0
1,68.0,EVERWHITE,30300100023,EVERWHITE Everfit Herboost,7.0,Miss Glam Padang,54.0,PT. MIRANTI ADILLHA - PPN (PDG),0.0
2,68.0,EVERWHITE,50400210010,EVERWHITE Mgxlile Hampers Everwhite,7.0,Miss Glam Padang,54.0,PT. MIRANTI ADILLHA - PPN (PDG),0.0
3,68.0,EVERWHITE,50400210045,EVERWHIT Eiffel Hampers Everwhite,7.0,Miss Glam Padang,54.0,PT. MIRANTI ADILLHA - PPN (PDG),0.0
4,68.0,EVERWHITE,50400210046,EVERWHITE Paris Hampers Everwhite,7.0,Miss Glam Padang,54.0,PT. MIRANTI ADILLHA - PPN (PDG),0.0
...,...,...,...,...,...,...,...,...,...
703628,1760.0,COLGATE,8850006341162,COLGATE Total 12 Advance Fresh Gel Toothpaste ...,7.0,Miss Glam Padang,2879.0,PT. TIGA RAKSA (PDG),37324.0
703629,1760.0,COLGATE,9556031203060,COLGATE Slim Soft Charcoal Sikat Gigi Isi 3,7.0,Miss Glam Padang,2879.0,PT. TIGA RAKSA (PDG),0.0
703630,1760.0,COLGATE,9556031312434,COLGATE Super Flexi Charcoal Soft Sikat Gigi B...,7.0,Miss Glam Padang,2879.0,PT. TIGA RAKSA (PDG),18599.0
704118,360.0,SILCOT,8993189329333,SILCOT Maximizer Cotton Kapas Isi 40,7.0,Miss Glam Padang,3301.0,PT. RIMBUN PADI BERJAYA - PPN (PDG),25619.0
704119,360.0,SILCOT,8993189700804,SILCOT Cleansing Cotton Ungu isi 82 Pcs,7.0,Miss Glam Padang,3301.0,PT. RIMBUN PADI BERJAYA - PPN (PDG),25619.0

'SKU with HPP > 0'

,brand_id,brand_name,sku,nama_product,store_id,store_name,supplier_id,supplier_name,hpp
84,68.0,EVERWHITE,8997220244104,EVERWHITE HiColla Minuman Serbuk Rasa Stroberi...,7.0,Miss Glam Padang,54.0,PT. MIRANTI ADILLHA - PPN (PDG),56250.0
85,68.0,EVERWHITE,8997220244111,EVERWHITE HiColla Minuman Serbuk Rasa Stroberi...,7.0,Miss Glam Padang,54.0,PT. MIRANTI ADILLHA - PPN (PDG),166500.0
945,372.0,ROJUKIS,8858851438211,ROJUKISS Jeju Lotus Glow & Bright Serum Cleans...,7.0,Miss Glam Padang,92.0,PT. SAI (PDG),14400.0
1053,1642.0,SERASOFT,8998866106788,SERASOFT Serum Shampoo Dandruff Treatment 170ml,7.0,Miss Glam Padang,448.0,PT. PADANG DISTRIBUSINDO RAYA - PPN (PDG),19215.0
1072,489.0,YU CHUN,8997014402703,YU CHUN Mei Cordyceps Lightening Day Cream 30gr,8.0,Miss Glam Pekanbaru,2011.0,CV. SEMANGAT JAYA - PPN (PKU),39627.0
...,...,...,...,...,...,...,...,...,...
703626,1760.0,COLGATE,8850006320662,COLGATE Advanced White Mint 160gr,7.0,Miss Glam Padang,2879.0,PT. TIGA RAKSA (PDG),27625.0
703628,1760.0,COLGATE,8850006341162,COLGATE Total 12 Advance Fresh Gel Toothpaste ...,7.0,Miss Glam Padang,2879.0,PT. TIGA RAKSA (PDG),37324.0
703630,1760.0,COLGATE,9556031312434,COLGATE Super Flexi Charcoal Soft Sikat Gigi B...,7.0,Miss Glam Padang,2879.0,PT. TIGA RAKSA (PDG),18599.0
704118,360.0,SILCOT,8993189329333,SILCOT Maximizer Cotton Kapas Isi 40,7.0,Miss Glam Padang,3301.0,PT. RIMBUN PADI BERJAYA - PPN (PDG),25619.0
704119,360.0,SILCOT,8993189700804,SILCOT Cleansing Cotton Ungu isi 82 Pcs,7.0,Miss Glam Padang,3301.0,PT. RIMBUN PADI BERJAYA - PPN (PDG),25619.0

In [19]:
# convert brand_id,store_id,supplier_id as integer
unique_df['brand_id'] = pd.to_numeric(unique_df['brand_id'], errors='coerce').fillna(0).astype(int)
unique_df['store_id'] = pd.to_numeric(unique_df['store_id'], errors='coerce').fillna(0).astype(int)
unique_df['supplier_id'] = pd.to_numeric(unique_df['supplier_id'], errors='coerce').fillna(0).astype(int)

In [20]:
stores = unique_df[['store_id', 'store_name']]

display(stores)

nan_stores = unique_df[unique_df['store_id'].isna()]
display(nan_stores)

        store_id        store_name
0              7  Miss Glam Padang
1              7  Miss Glam Padang
2              7  Miss Glam Padang
3              7  Miss Glam Padang
4              7  Miss Glam Padang
...          ...               ...
703628         7  Miss Glam Padang
703629         7  Miss Glam Padang
703630         7  Miss Glam Padang
704118         7  Miss Glam Padang
704119         7  Miss Glam Padang

[23411 rows x 2 columns]

Empty DataFrame
Columns: [brand_id, brand_name, sku, nama_product, store_id, store_name, supplier_id, supplier_name, hpp]
Index: []

In [21]:
brands = unique_df['brand_id'].unique()
display(brands)

array([  68,  806, 1614,  372, 1745,  617, 1642,  489, 1272,  442,  165,
        775, 2186,  915, 2287,  371,  679,  704, 2120,   40, 1819, 1611,
       1460, 1779, 1813, 2168, 2154, 2166, 1983,  716,  673,  490, 2296,
       2089,  384,  875, 1756,   21,   26,   46,   74,  126,  320,  324,
        331,  347,  389,  421,  452,  458,  501,  517,  530,  762,  808,
       1016, 1144, 1310, 1409, 1429, 1450, 1459, 1482, 1508, 1527, 1609,
       1621, 1679, 1691, 1711, 1721, 1757, 1778, 1851, 1853, 1888, 1917,
       1918, 1933, 1943, 1972, 2049, 2098, 2258, 2275, 2276, 2288, 2303,
       2307, 2332, 2364, 2369, 2393, 2396,   63,  103,  164,  296,  563,
       1218, 1477, 1478, 1483, 1515, 1516, 1754, 1993, 2395,   64,  133,
        912,   49,   70,   80,   83,  113,  119,  130,  132,  157,  377,
        497,  691,  778,  782,  927, 1057, 1135, 1160, 1164, 1165, 1198,
       1265, 1304, 1327, 1524, 1632,    0,   57,  349,  350,  375,  381,
        515, 1727, 2185, 2193,  106,   32,  112, 1747,  914, 1807,  170,
        487,  903, 1422, 1492,  168,  398,  480, 1638,   65,  545, 1161,
       1830, 2322,  101,   85, 2333,  102, 2392, 1017, 2327, 2406,   38,
         78, 1856, 2261, 2397,   22, 1837, 2298, 2407,   75,  814, 1228,
        659, 2247,   48,   95,  110,  120,  121,  122,  134,  289,  339,
        904,  922,  951, 1018, 1029, 1049, 1069, 1073, 1097, 1106, 1143,
       1333, 1390, 1414, 1444, 1469, 1474, 1480, 1488, 1600, 1630, 1667,
       1758, 1885, 1902, 1942, 1967, 1975, 2099, 2109, 2112, 2230, 2255,
       2259, 2266, 2278, 2280, 2306, 2316, 2318, 2320, 2324, 2368,   54,
        754, 1375,   44,  143,  366,  368, 1499, 1726, 1806,  166,  104,
        564,  565, 1455, 1544, 2412,   25,   59,   61,  107,  358,  387,
        423,  474,  506,  774,  996, 1121, 1286, 1398, 1772, 1945, 2361,
         34,  116, 1226,  163,  361,  362,  363,  364,  391,  392,  393,
       1092, 1220, 1221, 1581, 1598, 1659, 1694, 1737, 1790, 1826, 2283,
       1596,  136,  437,  838, 1848,   92,  137, 1219,  318,  400,  981,
         24,   42,   51,   76,   91,  308,  407,  454,  478,  507,  531,
        574,  686,  882,  884,  906,  929, 1128, 1136, 1152, 1207, 1376,
       1426, 1511, 1579, 1607, 1681, 1707, 1730, 1768, 1875, 1893, 1911,
       2178, 2223, 2236, 2262, 2267, 2277, 2284, 2300, 2321, 2325, 2359,
       2362, 2374, 2375, 2379,   33,   98,  300,  301,  302,  303,  394,
       1627, 1434,  287,  523, 1296, 1520, 1545, 1634, 2353,  127,  449,
        450, 1031, 1597, 2281,  920, 1612,  383, 1599,  834, 1589,  162,
        603,  676, 1649, 1976,  575, 1641,  326, 1114, 2119,  111,   37,
        154,  315,  334,  336,  427,  434,  439,  621,  657,  712,  714,
       1014, 1026, 1034, 1048, 1142, 1217, 1336, 1451, 1490, 1504, 1528,
       1531, 1583, 1590, 1639, 1712, 1719, 1759, 1794, 1854, 1868, 1876,
       1891, 1940, 1970, 2041, 2149, 2192, 2291, 2302, 2312, 2314, 2326,
       2349, 2354, 2360, 2367, 2378,  145, 1150, 1984, 2380, 1828,  131,
       1731, 1680,  431,  142, 1660,  144, 2329,  561,  919,  462,  357,
       1720,  595,  152,   43, 1307, 1595,  298,  149, 1734, 1986, 1645,
       1646, 1343, 1019, 1743, 2187,  114,  579, 1928, 2105,   41,  345,
       1673, 1939,  365,  419, 1771, 1985, 2334, 1129,  325, 1534, 1767,
        159, 1774, 1749, 1760,  360])

In [22]:
# convert brand_id,store_id,supplier_id as integer
unique_df['brand_id'] = unique_df['brand_id'].astype(int)

# for store if store_id is NaN, we set to 0
unique_df['store_id'] = unique_df['store_id'].fillna(0)
unique_df['store_id'] = unique_df['store_id'].astype(int)


# for supplier if supplier_id is NaN, we set to 0
unique_df['supplier_id'] = unique_df['supplier_id'].fillna(0)
unique_df['supplier_id'] = unique_df['supplier_id'].astype(int)

display(unique_df)

,brand_id,brand_name,sku,nama_product,store_id,store_name,supplier_id,supplier_name,hpp
0,68,EVERWHITE,28727,EVERWHITE Hicoll 120gr,7,Miss Glam Padang,54,PT. MIRANTI ADILLHA - PPN (PDG),0.0
1,68,EVERWHITE,30300100023,EVERWHITE Everfit Herboost,7,Miss Glam Padang,54,PT. MIRANTI ADILLHA - PPN (PDG),0.0
2,68,EVERWHITE,50400210010,EVERWHITE Mgxlile Hampers Everwhite,7,Miss Glam Padang,54,PT. MIRANTI ADILLHA - PPN (PDG),0.0
3,68,EVERWHITE,50400210045,EVERWHIT Eiffel Hampers Everwhite,7,Miss Glam Padang,54,PT. MIRANTI ADILLHA - PPN (PDG),0.0
4,68,EVERWHITE,50400210046,EVERWHITE Paris Hampers Everwhite,7,Miss Glam Padang,54,PT. MIRANTI ADILLHA - PPN (PDG),0.0
...,...,...,...,...,...,...,...,...,...
703628,1760,COLGATE,8850006341162,COLGATE Total 12 Advance Fresh Gel Toothpaste ...,7,Miss Glam Padang,2879,PT. TIGA RAKSA (PDG),37324.0
703629,1760,COLGATE,9556031203060,COLGATE Slim Soft Charcoal Sikat Gigi Isi 3,7,Miss Glam Padang,2879,PT. TIGA RAKSA (PDG),0.0
703630,1760,COLGATE,9556031312434,COLGATE Super Flexi Charcoal Soft Sikat Gigi B...,7,Miss Glam Padang,2879,PT. TIGA RAKSA (PDG),18599.0
704118,360,SILCOT,8993189329333,SILCOT Maximizer Cotton Kapas Isi 40,7,Miss Glam Padang,3301,PT. RIMBUN PADI BERJAYA - PPN (PDG),25619.0
704119,360,SILCOT,8993189700804,SILCOT Cleansing Cotton Ungu isi 82 Pcs,7,Miss Glam Padang,3301,PT. RIMBUN PADI BERJAYA - PPN (PDG),25619.0

In [23]:
# output csv to data/master_data
unique_df.to_csv("data/master_data/products_with_hpp.csv", index=False)